<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>E-commerce Website</title>

    <style>
      body {
        background-color: white;
        color: black;
        transition: background-color 0.3s, color 0.3s;
      }
      nav {
        background-color: white;
      }
      .one-edge-shadow {
        box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
      }
      .dark-mode {
        background-color: darkgray;
        color: white;
      }
      .dark-mode nav {
        background-color: darkgray;
      }
    </style>
  </head>
  <body>
    <nav class="one-edge-shadow navbar navbar-light sticky-top navbar navbar-expand-lg text-white">
      <a class="navbar-brand ms-3 text-dark" href="/">
        <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png" style="width:50px;height:50px;" />
        E-Commerce
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/store">Store <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/cart">Cart <span class="badge badge-success">{{request.session.cart.keys|length}}</span></a>
          </li>
          {% if request.session.customer %}
          <li class="nav-item active"><a class="nav-link" href="/orders">Orders</a></li>
          <li class="nav-item active"><a class="nav-link" href="/logout">Logout</a></li>
          {% else %}
          <li class="nav-item active"><a class="nav-link" href="/signup">Signup</a></li>
          <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </div>
      <!-- <button id="theme-toggle" class="btn btn-outline-dark ml-3">
        <i class="fas fa-moon"></i>
      </button> -->
    </nav>
    {% block content %}{% endblock %}

    <!-- <script>
      const themeToggle = document.getElementById("theme-toggle");
      const themeIcon = themeToggle.querySelector("i");

      themeToggle.addEventListener("click", () => {
        document.body.classList.toggle("dark-mode");
        if (document.body.classList.contains("dark-mode")) {
          themeIcon.classList.remove("fa-moon");
          themeIcon.classList.add("fa-sun");
        } else {
          themeIcon.classList.remove("fa-sun");
          themeIcon.classList.add("fa-moon");
        }
      });
    </script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>